<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fantasticoh!.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
				<key>dateExpires</key>
				<string>12/09/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
						<key>dateExpires</key>
						<string>12/09/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3M4M6VKE2V</string>
						<key>name</key>
						<string>Vishal Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
						<key>dateExpires</key>
						<string>12/09/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3M4M6VKE2V</string>
						<key>name</key>
						<string>Vishal Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
						<key>dateExpires</key>
						<string>12/09/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3M4M6VKE2V</string>
						<key>name</key>
						<string>Vishal Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
						<key>dateExpires</key>
						<string>12/09/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3M4M6VKE2V</string>
						<key>name</key>
						<string>Vishal Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
						<key>dateExpires</key>
						<string>12/09/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3M4M6VKE2V</string>
						<key>name</key>
						<string>Vishal Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
						<key>dateExpires</key>
						<string>12/09/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3M4M6VKE2V</string>
						<key>name</key>
						<string>Vishal Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
						<key>dateExpires</key>
						<string>12/09/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3M4M6VKE2V</string>
						<key>name</key>
						<string>Vishal Shah</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BB105753957FB2B72180EC29BD4F3D338766E9F6</string>
						<key>dateExpires</key>
						<string>12/09/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UPCarouselFlowLayout</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3M4M6VKE2V</string>
						<key>name</key>
						<string>Vishal Shah</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3M4M6VKE2V.com.vstarlabs.bb</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3M4M6VKE2V</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Fantasticoh!.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7fe5dce7-1c39-413e-8935-1c8943f0b187</string>
				<key>name</key>
				<string>Fantasticoh_Adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3M4M6VKE2V</string>
				<key>name</key>
				<string>Vishal Shah</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
